<style>
  ul.tabs {
    border-bottom: 1px solid #DDDDDD;
    display: block;
    margin: 0 0 20px;
    padding: 0;
  }
  ul.tabs li {
    display: block;
    float: left;
    height: 30px;
    margin-bottom: 0;
    padding: 0;
    width: auto;
  }
  ul.tabs li a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F5F5F5;
    border-color: #DDDDDD !important;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    display: block;
    font-size: 13px;
    height: 29px;
    line-height: 30px;
    margin: 0;
    padding: 0 20px;
    text-decoration: none;
    width: auto;
    color: #303030;
    border-bottom: none !important;
  }
  ul.tabs li a.active {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left-width: 1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #111111;
    height: 30px;
    margin: 0 0 0 -1px;
    padding-top: 4px;
    position: relative;
    top: -4px;
  }
  ul.tabs li:first-child a.active {
    margin-left: 0;
  }
  ul.tabs li:first-child a {
    border-top-left-radius: 2px;
    border-width: 1px 1px 0;
  }
  ul.tabs li:last-child a {
    border-top-right-radius: 2px;
  }
  ul.tabs:before,
  ul.tabs:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
  }
  ul.tabs:after {
    clear: both;
  }

  .tab-content {
    display: none;
  }

  .tab-content a {
    font-size: 13px;
  }

  .tab-content .table tr:first-child td {
    border-top: 0;
  }

  .tab-content .table td {
    border-bottom: 0;
  }

  .tab-content .table td.strong {
    font-weight: 500;
  }

  .tab-content h4 {
    margin-bottom: 20px;
  }

  .dimensions {
    position: relative;
    background: #ffffff;
    margin-top: 18px;
    display: flex;
    flex-flow: wrap;
  }

  .dimensions .dimension {
    width: 45%;
    padding: 10px;
    text-align: center;
    height: 140px;
    flex-direction: column;
  }

  .dimensions .dimension img {
    margin-bottom: 5px;
    max-height: 100%;
  }

  .dimensions p {
    margin: 0;
    font-size: 11px;
    line-height: 16px;
    color: #666666;
  }

  .float_div1 div1 {
    width: 33%;
    display: table-cell;
  }

  .float_div {
    padding: -1%;
    margin: 0;
  }

  h6 {
    margin: 0;
    padding: 2px 0;
  }
  .shippingTable {
    border-collapse: collapse;
    border: #111111 1px;
  }
  td,
  th {
    border: #111111 1px solid;
    text-align: center;
    vertical-align: middle;
  }

  @media all and (max-width: 2576px) {

    .float_div {
      width: 100% !important;
      display: unset !important;
    }

  }

  .strong {
    font-weight: bold;
  }
</style>
<div style="text-align: center">
  <h3>30 DAY FIT &amp; STYLE GUARANTEE</h3>
</div>
<ul class="tabs">
  <li>
    <a class="" href="#tab1">
      Description
    </a>
  </li>
  <li>
    <a href="#tab3" class="active">
      Shipping
    </a>
  </li>
  <li>
    <a href="#tab4" class="">
      Warranty
    </a>
  </li>

</ul>
<!--Start tab content-->
<ul class="tabs-content">
  <li
    class="active"
    id="tab1"
    style="display: block;">
    <div style="width: 100%; display: table;">
      <div style="display: table-row">
        <div style="width: 50%; display: table-cell;" class="float_div">
          <h4>Description</h4>
          <p>{{ product.description }}</p>
        </div>
        {% if product.type == "Glasses" or product.type == "Sunglasses" %}
          <div style="width: 20%;display: table-cell;" class="float_div">
            <h4>Fit and details</h4>
            <table class="table">
              <tbody>
                <tr>
                  <td>Size:
                  </td>
                  <td class="strong">
                    {% if product.selected_or_first_available_variant.metafields.variant.lensWidth %}
                      {{ product.selected_or_first_available_variant.metafields.variant.lensWidth }}
                    {% endif %}
                    -
                    {% if product.selected_or_first_available_variant.metafields.variant.bridgeWidth %}
                      {{ product.selected_or_first_available_variant.metafields.variant.bridgeWidth }}
                    {% endif %}
                    -
                    {% if product.selected_or_first_available_variant.metafields.variant.sideLength %}
                      {{ product.selected_or_first_available_variant.metafields.variant.sideLength }}
                    {% endif %}(
                    {% if product.selected_or_first_available_variant.metafields.variant.size %}
                      {{ product.selected_or_first_available_variant.metafields.variant.size }}
                    {% endif %})
                  </td>
                </tr>
                <tr>
                  <td>Color:
                  </td>
                  <td class="strong">
                    <span>
                      {% if product.selected_or_first_available_variant.metafields.variant.color %}
                        {{ product.selected_or_first_available_variant.metafields.variant.color }}
                      {% endif %}
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>Material:
                  </td>
                  <td class="strong">
                    {% if product.selected_or_first_available_variant.metafields.variant.material %}
                      {{ product.selected_or_first_available_variant.metafields.variant.material }}
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>Shape:
                  </td>
                  <td class="strong">
                    {% if product.selected_or_first_available_variant.metafields.variant.shape %}
                      {{ product.selected_or_first_available_variant.metafields.variant.shape }}
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        {% endif %}
        <div style="width: 30%;display: table-cell;" class="float_div">
          <div></div>
          {% if product.type == "Glasses" or product.type == "Sunglasses" %}
            <div class="dimensions">
              <div class="dimension">
                <img src="https://cdn.shopify.com/s/files/1/0307/8632/2477/files/size_matrix-1.svg?344" class="size-matrix-img">
                <div class="dimensions-sizes dimensions-sizes__width">
                  <p>
                    {% if product.selected_or_first_available_variant.metafields.variant.frameWidth %}
                      {{ product.selected_or_first_available_variant.metafields.variant.frameWidth }}
                    {% endif %}
                    mm</p>
                  <p>Width of glasses</p>
                </div>
              </div>
              <div class="dimension">
                <img src="https://cdn.shopify.com/s/files/1/0307/8632/2477/files/size_matrix-2.svg?344" class="size-matrix-img">
                <div class="dimensions-sizes dimensions-sizes__temple-length">
                  <p>
                    {% if product.selected_or_first_available_variant.metafields.variant.sideLength %}
                      {{ product.selected_or_first_available_variant.metafields.variant.sideLength }}
                    {% endif %}
                    mm</p>
                  <p>Temple length</p>
                </div>
              </div>
              <div class="dimension">
                <img src="https://cdn.shopify.com/s/files/1/0307/8632/2477/files/size_matrix-3.svg?344" class="size-matrix-img">
                <div class="row">
                  <div class="col-xs-6 dimensions-sizes dimensions-sizes__lens-height">
                    <p>
                      {% if product.selected_or_first_available_variant.metafields.variant.lensWidth %}
                        {{ product.selected_or_first_available_variant.metafields.variant.lensWidth }}
                      {% endif %}
                      mm</p>
                    <p>Lens width</p>
                  </div>
                  <div class="col-xs-6 dimensions-sizes dimensions-sizes__lens-width">
                    <p>
                      {% if product.selected_or_first_available_variant.metafields.variant.lensHeight %}
                        {{ product.selected_or_first_available_variant.metafields.variant.lensHeight }}
                      {% endif %}
                      mm</p>
                    <p>Lens height</p>
                  </div>
                </div>
              </div>
              <div class="dimension">
                <img src="https://cdn.shopify.com/s/files/1/0307/8632/2477/files/size_matrix-4.svg?344" class="size-matrix-img">
                <div class="dimensions-sizes dimensions-sizes__bridge">
                  <p>
                    {% if product.selected_or_first_available_variant.metafields.variant.bridgeWidth %}
                      {{ product.selected_or_first_available_variant.metafields.variant.bridgeWidth }}
                    {% endif %}
                    mm</p>
                  <p>Bridge</p>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </li>

  <li
    id="tab3"
    class=""
    style="display: none;">
    <div>
      <h4>Shipping</h4>
      <p>At Glasses Club, we offer:<br></p>
      <ol>
        <li>FREE delivery to your chosen address in Lithuania, Latvia and Estonia  for all orders over 50 €.</li>
        <li>FREE delivery to your chosen address in European Union for all orders over 100 €.</li>
        <li>Rest of the world - shipping fees below apply.
        </li>
      </ol>
      <p>
        <b>Shipping time and delivery methods</b>
      </p>
      <table class="shippingTable shippingTableElements">
        <tr class="shippingTableElements">
          <th>
            <b>Delivery method</b>
          </th>
          <th>
            <b>Baltic countries <br>(Lithuania, Latvia, Estonia)</b>
          </th>
          <th>
            <b>European Union countries</b>
          </th>
          <th>
            <b>UK and rest of the world</b>
          </th>
        </tr>
        <tr class="shippingTableElements">
          <td>
            <b>Omniva parcel boxes</b>
          </td>
          <td>
            <p>2-4 working days <br>(FREE above 50 € or 4,99 €)</p>
          </td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr class="shippingTableElements">
          <td>
            <b>Express Delivery DHL</b>
          </td>
          <td>
            <p>2-6 working days <br>10 € delivery fee</p>
          </td>
          <td>
            <p>2-6 working days <br>15 € delivery fee</p>
          </td>
          <td>
            <p>2-6 working days <br>15 € delivery fee</p>
          </td>
        </tr>
        <tr class="shippingTableElements">
          <td>
            <b>DPD courier</b>
          </td>
          <td>
            <p>5-6 working days <br>(FREE above 50 € or 5,99 €)</p>
          </td>
          <td>
            <p>7-14 working days <br>(FREE above 100 € or 10 €)</p>
          </td>
          <td>
            <p>7-14 working days <br>(FREE above 100 € or 10 €)</p>
          </td>
        </tr>
      </table>
      <br>
      <p>
        If, for any reason, you are not completely satisfied with your order, you may return it within the first 100 days for absolutely no reason. Read more in our
        <a href="https://6x5jt9ygl7wsuybv-75110121785.shopifypreview.com/policies/refund-policy">Returns & Refunds</a>
      </p>
    </div>
  </li>

  <li
    id="tab4"
    class=""
    style="display: none;">
    <div>
      <h4>2 YEAR MANUFACTURER'S WARRANTY</h4>
      <p>At GlassesClub, quality is our main focus. We aim to provide the best possible products in the market,
        but in case you feel like you have received faulty lenses or frames, there is nothing to worry about, as
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            we offer a 730 days manufacturer's warranty. See the list below to check the issues that are covered
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            under warranty and, if they occur, we will repair or replace your items at no extra charge. The warranty
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            is valid for two years after purchase.</p>
      <h3>ISSUES COVERED</h3>
      <p>
        • Cracks caused by other reasons than careless handling</p>
      <p>
        • Coatings that start peeling off</p>
      <p>
        • Broken nose pads</p>
      <p>
        • Weakened (or broken) hinges</p>
      <p>
        • Chipped logos, jewels, or other similar adornments</p>
      <p>
        • Fading of colour or oxidation</p>
      <h3>ISSUES NOT-COVERED</h3>
      <p>
        • Exposure to water for extensive amounts of time</p>
      <p>
        • Cleaning performed not in accordance with our recommendations</p>
      <p>
        • Careless handling</p>
      <p>
        • Exposure to water for extensive amounts of time</p>
      <p></p>
      <h3>NATURAL WEARINGNESS</h3>
      <p>Because of environmental factors and regular wear, signs of weariness appear on optical items naturally
        over time. The reduced glossiness of the frame, scratches on both the frame and the lenses, and such are
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            signs of natural weariness. The warranty does not cover these as they are not considered to be the
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            manufacturer's fault. Rimless and half-rimless glasses are prone to breakage and must, therefore, be
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            worn with extra care. In this case, the damage is not covered under warranty. GlassesClub offers 30%
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            discount items needed for this type of eyeglasses repair (including lenses, parts, and materials).</p>
      <p></p>
      <h3>30 DAY LENS GUARANTEE</h3>
      <p>To ensure impeccable quality, each lens undergoes a 6 step process. The verification is performed using
        the most innovative digital technology, designed specifically for the purpose. That way, complete
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            accuracy is ensured, while possibilities of scratches, distortions, and defects are reduced to a
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            minimum. A scratch-resistant coating is provided with the purchase of any lens at no extra charge. We
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            want you to be happy with your order, so, in case you do not feel completely satisfied with your
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            purchase, you can return it for free within 30 days. A 30 day return period is provided for all
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            products, including glasses made to your individual prescription. The refund will be processed and
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            credited back to your original method of payment within 14 days once we have received the return.
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            Alternatively, we will replace the lenses at no extra charge.</p>
      <p>In case of breaking, do NOT try to repair your eyewear yourself. The manufacturer's warranty does not
        cover products that have been tampered by an unauthorized company or person. Please note that frames and
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            lenses have separate guarantees that cannot be interchanged.</p>
      <p>At GlassesClub, our primary goal is to ensure the maximum quality of the products we provide, thus
        safeguarding your utmost satisfaction. We are sure that you will love our product, as we do everything
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            we can that each order is manufactured to perfection.</p>
      <p><br></p>
    </div>
  </li>
</ul>